<div class="navbar">
    <div class="navbar-inner">
        <div class="col-sm-9">
          <img src="img/Logoyi.png" height="40" width="40">
          <span>小程序-超市后台管理系统</span>
        </div>
      <div class="col-sm-3">
        <span class="SysUser-Name">{{SysUser.name}}</span>
        <button class="btn btn-success btn-sm"><i class="fa fa-home" aria-hidden="true" ng-click="GoHome()"></i>首页</button>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#changePwd"><i class="fa fa-lock" aria-hidden="true"></i>修改密码</button>
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Logout"><i class="fa fa-key" aria-hidden="true"></i>注销</button>
      </div>
    </div>

</div>
<!-- 注销模态框-->
<div class="modal fade" id="Logout" tabindex="-1" role="dialog" aria-labelledby="mymodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">您是否确定退出？</h3>
      </div>
      <div class="modal-footer ConfirmModel">
        <button type="button" aria-hidden="true"  class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" aria-hidden="true"  class="btn btn-primary" data-dismiss="modal" ng-click="LogOut()">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 修改密码模态框-->
<div class="modal fade" id="changePwd" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cum-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
        <h3  class="text-center">
          修改密码
        </h3>
      </div>
      <form class="form-horizontal showcase-form" role="form" name="form1" novalidate="novalidate">
        <div class="modal-body">
          <div class="row">
            <label class="col-sm-3 control-label text-right">
              <span>原密码：</span>
            </label>
            <div class="col-sm-7">
              <input class="form-control" type="text" ng-model="ChangePwd.OldPwd" />
            </div>
          </div>

          <div class="row">
            <label class="col-md-3 control-label text-right">
              <span>新密码：</span>
            </label>
            <div class="col-sm-7">
              <input class="form-control" type="password" ng-model="ChangePwd.NewPwd" />
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3 control-label text-right">
              <span>确认密码：</span>
            </label>
            <div class="col-sm-7">
              <input class="form-control" type="password" ng-model="ChangePwd.SureNewPwd" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" aria-hidden="true" data-dismiss="modal">取消</button>
          <button class="btn btn-primary" data-dismiss="modal" ng-click="SureCHangePwd()">确定</button>
        </div>
      </form>
    </div>
  </div>

</div>
