.navbar {
    position: relative;
    z-index: 20;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 3px #cccccc;
    -moz-box-shadow: 0px 0px 3px #cccccc;
    box-shadow: 0px 0px 3px #cccccc;
    border: none;
}
.navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
}
.navbar .navbar-inner {
    background-color: #f3f3f3;
    line-height:54px;
    height: 54px;
}
.navbar-inner span{
    color: #5a5454;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top:2px;
}
.SysUser-Name {
  border: 2px solid #f1a214;
  color: #f58725 !important;
  font-size: 15px !important;
  padding: 5.5px;
  border-radius: 5px;
}