.searchContent li{
    list-style: none;
    float: left;
}
.member-button{
    top: 50px;
    position: relative;
}
.unit{
    display: block;
    margin: 0;
    padding: 5px 0;
    position: relative;
    clear: both;
}
.red a{
    color:red
}

.green a{
    color:green
}
.red div{
    color:red
}

.green div{
    color:green
}
.input-group select{
    height: 33px;
    overflow: hidden;
    border: solid 1px #ccc;
}
