<div id="ribbon">
    <ol class="breadcrumb">
        <li>
            <span class="glyphicon glyphicon-home"></span>
            首页
        </li>
        <li>用户管理</li>
        <li class="active">用户列表</li>
    </ol>
</div>

<div>

    <!--   列表-->
    <table class="table main-table table-hover table-bordered" style="margin: 5px">
        <thead>
            <tr>
                <th class="text-center">用户姓名</th>
                <th class="text-center">用户头像</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">Ip地址</th>
                <!--<th class="text-center">操作</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="UserInfo in UserInfos">
                <td>{{UserInfo.name}}</td>
                <td><img ng-src={{UserInfo.avatar}} height="50" width="50"></td>
                <td>{{UserInfo.creatDate|date:'yyyy-MM-dd'}}</td>
                <td>{{UserInfo.upDate|date:'yyyy-MM-dd'}}</td>
                <td>{{UserInfo.ip}}</td>
                <!--<td class="text-center">
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DelObj" ng-click="DeleteUser(UserInfo.Account)" ng-show="DeleteUser">删除</a>
                </td>-->
            </tr>
        </tbody>
    </table>

    <!-- 删除模态框-->
    <div class="modal fade" id="DelObj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="DelLabel">
                        确认删除属性？
                    </h4>
                </div>
                <!--    <div class="modal-body">
                        确认删除？
                    </div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="confirmDelete()">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage"
        max-size="maxSize" class="pagination pagination-sm" items-per-page="15" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"
        ng-change="GetUser()"></ul>
</div>

